<!DOCTYPE html>
<html>
  <head>
    <title>Pet Rehome</title>
    <%= favicon_link_tag asset_path("favicon.png") %>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    
    <script src="https://kit.fontawesome.com/8248b57d3d.js" crossorigin="anonymous"></script>

    <script type="text/javascript">
      window.splashURL = "<%= asset_path('splash-image.png') %>"
      window.logoURL = "<%= asset_path('logo.png') %>"
    </script>

    <meta property="og:title" content="Pet Rehome" />
    <meta property="og:image" content="<%= image_url('project_pic.png') %>"/>
    <meta property="og:description"
      content="A full-stack application inspired by Petfinder where users can make post to rehome a pet and message other users."
    />
    <meta property="og:url"
      content="https://petrehome.onrender.com/"
    />

  </head>

  <body id="body">
    <%= yield %>
  </body>
</html>
